#dealerCards{
	height: 150px;
	width: 80%;
	border: 1px solid red;
}

#playerCards{
	height: 150px;
	width: 80%;
	border: 1px solid red;
	margin-top: 15px;
}

#dealerPoints{
	height: 75px;
	width: 75px;
	border: 1px solid red;
	margin-left: 20px;
	margin-top: 15px;
}

#playerPoints{
	height: 75px;
	width: 75px;
	border: 1px solid red;
	margin-left: 20px;
	margin-top: 0px;
}

#deckCount{
	height: 240px;
	width: 175px;
	border: 1px solid red;
	margin-left: 400px;
	margin-top: -220px;
}

#buttonContainer{
	height: 170px;
	width: 100px;
	border: 1px solid red;
	margin-top: 50px;

}
.buttons{
	height: 200px;
	width: 70px;
	display: block;
	margin-top: 20px;
}