body{
	background: green;
}

#dealerCards{
	height: 150px;
	width: 100%;
	border: 1px solid red;
	background: white;
}

#playerCards{
	height: 150px;
	width: 100%;
	border: 1px solid red;
	margin-top: 15px;
	background: white;
}

#playerCards2{
	height: 150px;
	width: 80%;
	border: 1px solid red;
	margin-top: 10px;
	background: white;
}

#dealerPoints{
	height: 75px;
	width: 75px;
	border: 1px solid red;
	margin-left: 20px;
	margin-top: 15px;
	background: white;
	font-size: 25px;
}

#playerPoints{
	height: 75px;
	width: 75px;
	border: 1px solid red;
	margin-left: 20px;
	margin-top: 0px;
	background: white;
	font-size: 25px;
}

#deckCount{
	height: 240px;
	width: 175px;
	border: 1px solid red;
	margin-left: 400px;
	margin-top: -220px;
	background: blue;
	color: white;
	font-size: 25px;
}

#buttonContainer{
	height: 170px;
	width: 100px;
	margin-top: 50px;

}
.buttons{
	height: 200px;
	width: 70px;
	display: block;
	margin-top: 20px;
}
#startGame{
	margin-top: 0px;
}
#playerWins{
	height: 75px;
	width: 75px;
	border: 1px solid red;
	margin-left: 100px;
	margin-top: -75px;
	background: white;

}

#dealerWins{
	height: 75px;
	width: 75px;
	margin-left: 120px;
	margin-top: -75px;
}

#playerPoints2{
	height: 75px;
	width: 75px;
	border: 1px solid red;
	margin-left: 20px;
	margin-top: 0px;
	background: white;
	font-size: 25px;

}

#theCount{
	height: 75px;
	width: 75px;
	margin-left: 450px;
	margin-top: 0px;
	color: white;
	font-size: 25px;

}

#winStreak{
	height: 75px;
	width: 75px;
	border: 1px solid red;
	margin-left: 177px;
	margin-top: -77px;
	background: red;
	color: white;
	font-size: 25px;

}