#dealerCards{
	height: 150px;
	width: 80%;
	border: 1px solid red;
}

#playerCards{
	height: 150px;
	width: 80%;
	border: 1px solid red;
	margin-top: 15px;
}

#dealerPoints{
	height: 75px;
	width: 75px;
	border: 1px solid red;
	margin-left: 400px;
	margin-top: 15px;
}

#playerPoints{
	height: 75px;
	width: 75px;
	border: 1px solid red;
	margin-left: 400px;
	margin-top: 0px;
}

#theDeck{
	height: 240px;
	width: 175px;
	border: 1px solid red;
	margin-left: 600px;
}